page-login {

    .error-message {
      color: #bf3e3e;
    }

    .go-to-register {
      text-align: center;
      margin-top: 20px;
      opacity: 1;
    }

    .submit-btn {
      border-radius: 6px;
      font-size: 1.6rem;
      font-weight: 500;
    }

    .login-box {
      border-radius: 5%;
      background: #007bff;
      padding: 20px 20px 20px 20px;
      margin-top: 30px;
    }


}
