page-show-menu-results {

  .line{
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 3px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 4px solid #aaaaaa;
    border-bottom: 2px solid #ffffff;
  }

}
