page-details2-user {

  .button1{
    margin-left: 5%;
    margin-top: 10%;
    align: center;
    font-size: large;

  }

  .button2{
    margin-left: 10%;
    margin-top: 10%;
    align: center;
    font-size: large;

  }

}
