page-welcome {

  .welcome-page{
    background-color: #d3d3d3;
  }

  .navigation{
    text-align: center;
    background-color: #ffffff;
  }

  .button{
    align: center;
    font-size: large;
    border-radius: 5%;
    width: 50%;

  }

}
