page-list2 {


  .list{
    background-color: #d3d3d3;
  }

  .navigation{
    text-align: center;
    background-color: #ffffff;
  }

  .button{
    align: center;
    font-size: x-large;
    border-radius: 5%;
    width: 50%;
    height: 5%;

  }

}
